/* App.css */
.App {
  min-height: 100vh;
  background-color: #e4e4e4;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #e4e4e4;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}